*{
	padding:0px;
	margin:0px;
	color:#666;
	font-size:14px;
	}
#banner{
	width:100%;
	height:60px;
	background:#FFF;
	box-shadow: 1px 7px 25px #79EEE2;
	position:fixed;
	top:0px;
	bottom:0px;
	z-index:1000;
	}
.logo{
	height:60px;
	width:30%;
	margin-left:20px;
	float:left;

	}
.bar{
	width:50%;
	height:60px;
	margin-left:55%;
	}
a{
	display:block;
	width:80px;
	height:60px;
	line-height:60px;
	text-align:center;
	float:left;
	color:#000;
	text-decoration:none;
	margin-left:8px;
	}
.liner{
	border-bottom:1px solid #FFAA33;
	color:#FFAA33;
	}
.line{
	border-bottom:1px solid #FFAA33;
	}
/*中部区域样式*/
.middle{
	width:auto;
	height:100%;

	margin:0 auto;
	background:#F5FFFA;
	}
/*内容样式*/
#content{

	
	width:1200px;
	height:700px;
	margin:100px  auto auto auto;
	}
/*左边的区域*/
.left{

	border-top:1px solid #ccc;
	width:720px;
	height:auto;
	float:left;
	background:#FFF;
	}
.hot_articles{
	position:absolute;
	
	width:350px;
	height:auto;
	float:right;

	margin-left:850px;
	}
/*热门文章样式*/
.hot_a{
	width:310px;
	text-align:left;
	padding-left:30px;
	clear:both;
	border-bottom:1px solid #ccc;
	background:#fff;
	}
/*热门文章点击时的样式*/
.hot_a:hover{
	color:#00FFFF;
	}
/*标题-信息-作者-时间总体样式*/
.title{
	height:100px;
	width:auto;
	border-bottom:1px solid #ccc;
	}
/*信息-作者与时间*/
.inf_auther_and_time{
	width:480px;
	color:#666;
	font-size:14px;

	margin-left:70px;
	margin-top:10px;
	}
/*信息-标题*/
.art_title{
	width:auto;
	height:40px;

	margin-left:170px;
	margin-top:20px;
	font-size:16px;
	color:#000;
	line-height:40px;
	}
/*信息-图片*/
.inf_p{
	width:auto;
	height:auto;
	margin-top:50px;
	
	}
/*原始文章*/
.original_art{
	width:auto;
	height:auto;
	margin-top:20px;
	border-bottom:1px solid #ccc;
	padding-bottom:20px;
	}
/*底部说明*/
.buttom{
	line-height:50px;
	text-align:center;	
	width:100%;
	height:50px;
	background:#fff;
	position:fixed;
	bottom:0px;
	}