@charset "utf-8";
/* CSS Document */
.content{
	background:#fff;
	width:900px;
	height:200px;
	margin-top:50px;
	margin-left:90px;
	color:#000;
	font-size:14px;
	}
.p1{
	font-size:24px;
	}
.p2{
	margin-left:10px;
	}
.p3,.p4{
	
	margin-left:20px;
	}

